version: '3.8'

services:
  backend:
    image: daithien/socialbook-be:dev
    container_name: socialbook-backend
    restart: unless-stopped
    ports:
      - '5000:5000'
    env_file:
      - backend.env
    depends_on:
      - redis
      - chroma

  frontend:
    image: daithien/socialbook-fe:dev
    container_name: socialbook-frontend
    restart: unless-stopped
    ports:
      - '80:3000'
    env_file:
      - frontend.env
    depends_on:
      - backend

  redis:
    image: redis:7-alpine
    container_name: socialbook-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  chroma:
    image: chromadb/chroma:latest
    container_name: socialbook-chroma
    restart: unless-stopped
    ports:
      - '8000:8000'
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE

volumes:
  redis_data:
  chroma_data:
